.ordenes--opciones {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ordenes button {
  margin-top: 2em;
  padding: 1em;
  display: block;
  width: 100%;
}

.producto.seleccionado:nth-child(odd) {
  background: hsl(125, 10%, 60%);
}

.producto.seleccionado {
  background: hsl(125, 10%, 50%);
}

.listado__orden {
  text-align: center;
  background: hsl(125, 0%, 70%);
  padding: 1em;
  margin-top: 1em;
}