* {
  box-sizing: border-box;
}

body {
  background: hsl(125, 0%, 100%);
}

footer {
  margin-top: 2em;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .boton-volver {
  background: hsl(125, 0%, 40%);
  border: none;
  width: 100%;
  padding: 2em;
}

.boton {
  padding: 0.5em 2em;
  margin: 1em auto;
  text-align: center;
  background: hsl(125, 0%, 80%);
  border: none;
  border-radius: 5px;
}

.boton--ancho {
  margin-top: 2em;
  padding: 1em;
  display: block;
  width: 100%;
}

.navegacion {
  padding: 1em;
  background: hsl(125, 0%, 40%);
  text-align: center;
}

.navegacion__enlaces {
  display: none;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navegacion__enlace {
  text-decoration: none;
  padding: .5em;
  margin: 0;
}

.navegacion__enlace a {
  color: inherit;
  text-decoration: none;
}

.navegacion__enlace a:visited {
  color: inherit;
}

.titulo {
  text-align: center;
}

.formulario__titulo {
  text-align: center;
}

.formulario__etiqueta {
  display: block;
  margin: 0.5em 0 0;
}

.formulario__campo {
  background: hsl(125, 0%, 70%);
  padding: 0.5em;
  border: none;
  display: block;
  width: 100%;
}

.formulario__boton {
  display: block;
}

.lista {
  list-style: none;
  margin: 0;
  padding: 0;
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producto:nth-child(odd) {
  background: hsl(125, 0%, 60%);
}

.producto span {
  padding: 0.5em;
}

.paginado {
  display: flex;
  justify-content: space-between;
}